.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  text-align:center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
  
  
  /* (A) WRAPPER */
.fullwrap {
  position: relative; /* required for (c2) */
  max-width: 320px; /* optional */
}
 
/* (B) RESPONSIVE IMAGE */
.fullwrap img { width: 100%; }
 
/* (C) CAPTION */
.fullcap {
  /* (C1) DIMENSIONS */
  box-sizing: border-box;
  width: img.width;
  height: 100%;
  
  
  /* (C2) POSITION */
  position: absolute;
  top: 0; left: 0;
  text-align: center;
 
   /* (C3) COLORS */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;

}
 
/* (D) SHOW/HIDE */
.fullcap {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.fullwrap:hover .fullcap {
  visibility: visible; opacity: 1;
}

.keepimgpos{
  float: left;
  display: inline;
}

.w3-panel w3-leftbar{
  font-family: 'Lato', italic;
}
  
  
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
  
html, body {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

p {
  font-size: 120%;
}

.video-responsive {
  position: relative;
  padding-bottom:  52%;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
/* Format collapsible button*/
.collapsible {
  border-radius: 12px;
  background-color: white;
	border:#93ad98;
	font-family: "Lato", sans-serif;
	color: #777;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 19px;
	margin: 4px 2px;
	cursor: pointer;
	width: 100%; // whatever your button's width
	margin: 0 auto; // auto left/right margins 
}

.collapsible:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/Content/Kolobrzeg.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/Content/winter_mountains.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/Content/bee1.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
a:hover {background-color: #87CEFA; color: white;}

/* Turn off parallax scrolling for tablets and phones */
  
@media only screen and (max-device-width: 500px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

  
/*Format collapsible text below*/
.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	color: #777;
	cursor: pointer;
	width: 100%;
	text-align: left;
	font-size: 19px;
}



/* Add the following styles for hover effect on the book images */
.fullwrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fullwrap img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.fullwrap .fullcap {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.fullwrap:hover img {
    transform: scale(1.1);
}

.fullwrap:hover .fullcap {
    opacity: 1;
}